[Desktop Entry]
Version=1.0
Name=Java KISS
Comment=A Fun Program
Exec=/usr/bin/java-kiss
Icon=/usr/share/icons/java-kiss/icon-64.png
Terminal=true
Type=Application
Categories=Utility;Application;
