[Desktop Entry]
Version=1.0
Name=Java AX25 Tool
Comment=A Fun Program
Exec=/usr/bin/jaxt
Icon=/usr/share/icons/jaxt/icon-64.png
Terminal=true
Type=Application
Categories=Utility;Application;
